<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aaliyah's Blog Site</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
</head>

<body class="bg-silver">
  <div class="wrapper">
    <header>
      <nav class="flex justify-between bb b--white-10">
        <h1>
        <a class="f1 pa3 link dib black dim mr3 mr4-ns" href="/">Aaliyah's Blog Site</a>
      </h1>
        {{#if loggedIn}}
        <a class="f6 link dib white dim mr3 mr4-ns hover-white" href="/dashboard">dashboard</a>
        <button id="logout" class="f6 link dib white dim mr3 mr4-ns">logout</button>
        {{else}}
        <a class="f4 link dib black dim mr3 mr4-ns flex items-center" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main >
    <footer class="f3">
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>