<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Back to Dashboard</a>
  <h2 class="title">Create New Blog Post</h2><hr>

  <form class="new-post-form pa3">
    <div class="pv1">
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title"/>
    </div>
    <div class="pv1">
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Create Post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>