  <section>
  <div class="flex-between pa3">
        <a href="/dashboard/create/"><button id="create-post" class="link dim black dib mr3">Create Post</button></a>
        
        <h2 class="title">Dashboard: Your Posts</h2><hr>
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        {{> post-info post}}
        
            <a href="/dashboard/edit/{{post.id}}"><button>Edit post</button></a>
        </div>
    {{/each}}
    </section>

{{else}}
<h6 class="f4">You currently have no posts</h6>

{{/if}}

<script src="/javascript/add-post.js"></script>