.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.flex {
    display: flex;
}

#logout {
     cursor: pointer;
}

#create-post {
    cursor: pointer;
}

#dashboard {
    cursor: pointer;
}

#create {
    cursor: pointer;
}

#edit-btn {
    cursor: pointer;
}

#signup {
    cursor: pointer;
}